name: TEST

on:
  pull_requese:
    types:
      - opened
  issue_comment:
    types:
      - created

env:
  NODE_VERSION: '18.x'

jobs:
  test_job:
    if: contains(github.event.comment.body, '/lighthouse')
    runs-on: ubuntu-latest
    steps:
      - name: Add comment
        id: add_comment
        uses: actions/github-script@v3
        with:
          script: |
            core.setOutput('comments', 'Hello world');
      